<md-content class="bs-gt-md md-padding bs-full-size" style="overflow: hidden;" layout="row" layout-align="center center">
  <md-card ng-if="vm.activeCard==='order-error'" class="bs-slide">
    <md-icon class="bs-status-icon">error</md-icon>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline md-warn">Order Failed</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <md-card ng-if="vm.activeCard==='order-success'" class="bs-slide">
    <md-icon class="bs-status-icon md-primary">thumb_up</md-icon>
    <md-card-title>
      <md-card-title-text>
        <span class="md-display-1">Order Procesed</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <md-card class="bs-slide" ng-if="vm.activeCard==='order-not-found'">
    <md-icon class="bs-status-icon md-warn">find_in_page</md-icon>
    <md-card-title>
      <md-card-title-text>
        <span class="md-display-1">Order not found</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  <md-card class="bs-slide" ng-if="vm.activeCard==='order-query-empty'">
    <md-icon class="bs-status-icon md-primary">search</md-icon>
    <md-card-title>
      <md-card-title-text>
        <span class="md-display-1">Enter Order #</span>
      </md-card-title-text>
    </md-card-title>
  </md-card>

  

  <md-card class="bs-slide" ng-if="vm.activeCard==='order'" ng-class="{'bs-gt-md':vm.mdMedia('gt-md'),'bs-lt-md':vm.mdMedia('(min-width: 10px) and (max-width: 1279px)')}">
    <md-card-title>
      <md-card-title-text>
        <span class="bs-display-2">{{vm.data[0].ProductName}}</span>
        <md-content layout="column" layout-align="center center">
          <table class="card-details">
            <tr class="bs-title">
              <td>Amount:</td>
              <td>
                <b>{{vm.data[0].Amount | currency}}</b>
              </td>
            </tr>
            <tr class="bs-title">
              <td>Tax:</td>
              <td>
                <b>{{vm.data[0].Tax | currency}}</b>
              </td>
            </tr>
            <tr class="bs-title">
              <td>Fee:</td>
              <td>
                <b>{{vm.data[0].Fee | currency}}</b>
              </td>
            </tr>
            <tr class="bs-title">
              <td>E911:</td>
              <td>
                <b>{{vm.data[0].E911 | currency}}</b>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr>
              </td>
            </tr>
            <tr class="bs-display-1">
              <td>Total Amount:</td>
              <td>
                <b>{{vm.data[0].TotalAmount | currency}}</b>
              </td>
            </tr>
          </table>
        </md-content>
      </md-card-title-text>
      <md-card-title-media style="margin:5px;">
        <div class="md-media-lg card-media">
          <img ng-src="{{vm.data[0].imageUrl}}"  alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-click="vm.confirmExecuteOrder($event, vm.data[0].OrderId)">Execute</md-button>
      <md-button class="md-warn md-raised">Remove</md-button>
    </md-card-actions>
  </md-card>

</md-content>